.boxWrapper {
	display: flex;
	background-color: #ecf0f6;
	border-radius: 10px;
	margin: 10px 30px;
}

.infoBox {
	text-align: left;
	box-shadow: 2px 2px 2px grey;
}

.thumbnail {
	float: left;
	margin: 1em;
	margin-bottom: 3em;
	box-shadow: 3px 4px 4px grey;
}
.text {
	margin: 20px;
}
.title {
	margin-bottom: 1em;
}
