.options_container {
	margin-top: 20px;
	width: 24vw;
	height: 40vh;
	margin-right: 2em;
	background-color: lavender;
	border-radius: 20px;
	padding: 2em;
}

.checkboxcontainer {
	display: flex;
	justify-content: space-around;
	margin: 2em 0em;
}

select[name="sort"] {
	height: 36px;
	width: 144px;
	border: 2px teal solid;
	border-radius: 12px;
	font-weight: bold;
	font-size: large;
}

input[type="checkbox"] {
	margin-top: 20px;
	transform: scale(2);
}
.checkboxtitle {
	font-weight: bold;
	font-size: large;
}
.optionSubmit {
	margin-top: 6.5em;
	border: 2px teal solid;
	border-radius: 12px;
	width: 200px;
	height: 36px;
	font-weight: bold;
	font-size: large;
}
