.wrap {
	margin: 1em;
}
.resultsSection {
	margin-top: 3%;
	height: auto;
}

.search {
	width: 100%;
	position: relative;
	display: grid;
}

.searchIn {
	border: 3px solid #00b4cc;
	border-right: 0px;
	border-radius: 16px 0px 0px 16px;
	padding: 10px;
	outline: none;
	color: #9dbfaf;
	height: 48px;
	width: 32vw;
}

.searchTerm:focus {
	color: #00b4cc;
}

.searchButton {
	border: 1px solid #00b4cc;
	background: #00b4cc;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 0px 16px 16px 0px;
	width: 48px;
	height: 48px;
}
