.wrap {
	margin: 1em;
}
.resultsSection {
	margin-top: 3%;
	height: auto;
}

.search {
	width: 100%;
	position: relative;
	display: grid;
}

.searchIn {
	border: 3px solid #6774ff;
	border-right: 0px;
	border-radius: 20px 0px 0px 20px;
	padding: 20px;
	outline: none;
	color: #6774ff;
	height: 60px;
	width: 32vw;
	font-size: larger;
	font-weight: bold;
}

.searchIn:focus {
	color: #96a0ff;
}

.searchButton {
	border: 1px solid #6774ff;
	background: #6774ff;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 0px 20px 20px 0px;
	width: 60px;
	height: 60px;
	font-size: larger;
}
