.row_wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 3vh;
}

.wrap {
	width: 70vw;
	margin: 1em 2em 1em 1em;
}
.resultsSection {
	margin-top: 2%;
	height: auto;
}

.search {
	width: 100%;
	position: relative;
}

.searchIn {
	border: 3px solid #6774ff;
	border-right: 0px;
	border-radius: 20px 0px 0px 20px;
	padding: 20px;
	outline: none;
	color: #6774ff;
	height: 56px;
	width: 32vw;
	line-height: 56px;
	font-size: larger;
	font-weight: bold;
	overflow: hidden;
}

.searchIn:focus {
	color: #96a0ff;
}

.searchButton {
	border: 1px solid #6774ff;
	background: #6774ff;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 0px 20px 20px 0px;
	width: 55px;
	height: 56px;

	font-size: larger;
}
